body{ 
   	background: url(../images/retina_wood.png);
   	position:absolute;
}

body, html{
	overflow:hidden;
}

#container{
	-webkit-transform: scale(1)
}

#demo1, #demo2, #demo3{
	width:1920px;
	height:1080px; 
}

.m1080{
	width:1920px;
	height:1080px; 
}

#main{

}
/* Demo Syles */
.swiper-container {
	width:1920px;
	height:1080px; 
}

.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}

.swiper-active-switch {
  background: #fff;
}

/* \ Demo Syles */